{% extends "layouts/base.jinja2" %}

{% block title %}BMI{% endblock %}

{% block content %}
<div class="contianer">
	<br>
	<div class="card mx-5">
		<div class="card-body text-center">
			<h4 class="card-title ">Body Mass Index Calculator</h4>
			<h6 class="card-subtitle mb-2 text-muted">Calculates BMI given feet, inches, and pounds.</h6>
			<p class="card-text">
				<form method="post" action="{{ url_for('main.bmi') }}">
					<div class="row">
						<div class="col-sm">
							{{ form.f.label }}
							{{ form.f() }}
						</div>
						<div class="col-sm">
							{{ form.i.label }}
							{{ form.i() }}
						</div>
                        <div class="col-sm">
							{{ form.p.label }}
							{{ form.p() }}
						</div>
					</div>
					<br>
					<button type="submit" class="btn btn-dark">Submit</button>
				</form>
				<br>
				{% if post %}
                    {% if bmi==-1 %}
						Invalid Input
					{% endif %}
					{% if bmi!=-1 %}
						<h5>Your BMI:</h5>
						{{ bmi[1] }}
						<h5>Your classification:</h5>
                  		{{ bmi[0] }}
					{% endif %}
				{% endif %}
			</p>
		</div>
	</div>
</div>
{% endblock %}
