{% extends "layouts/base.html" %}

{% block title %}Tip{% endblock %}

{% block content %}
<div class="container">
	<br>
	<div class="card mx-5">
		<div class="card-body text-center">
			<h4 class="card-title ">Split Tip Calculator</h4>
			<h6 class="card-subtitle mb-2 text-muted">Calculates the tip amount amount guest.</h6>
			<p class="card-text">
				<form method="post" action="{{ url_for('main.tip') }}">
					<div class="row">
						<div class="col-sm">
							<!--Tip-->
						</div>
						<div class="col-sm">
							<!--Guest-->
						</div>
					</div>
					<div class="row">
						<div class="col-sm">
							{{ form.tip.label }}
							{{ form.tip() }}
						</div>
						<div class="col-sm">
							{{ form.guest.label }}
							{{ form.guest() }}
						</div>
					</div>
					<br>
					<button type="submit" class="btn btn-dark">Submit</button>
				</form>
				<br>
				{% if post %}
					{% if tip %}
						<h5>The Tip amount is:</h5>
						{{ tip }}
					{% else %}
						Invalid Input
					{% endif %}
				{% endif %}
			</p>
		</div>
	</div>
</div>
{% endblock %}
